@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
  
  body {
    @apply antialiased;
  }
}

/* Custom RTL utility */
.rtl {
  direction: rtl;
  text-align: right;
} 